@use '../../styles/abstracts/var';
@use '../../styles//abstracts/mixin';
@use '../../styles/animations/keyframes';

.card{
    width: 300px;
    height: 340px;
    border: 1px solid var.$primary-color;
    background-color: var.$second-color;
    border-radius: 24px;
    padding: 32px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    &:hover{
        transform: scale(1.05);
        transition: transform 0.3s ease;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }
    &__icon{
        display: inline-flex;
        font-size: var.$size-title;
        background: linear-gradient(90deg, #B5B1C8 0%, #928DAB 100%);
        padding:  22px 20px;
        border-radius: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        margin-bottom: 24px;
    }
    &__title{
        margin-bottom: 24px;
        font-weight: bold;
        color: var.$primary-color;
    }
    &__text{
        margin-bottom: 24px;
    }
    &__level{
        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__text{
                font-size: 15px;
            }
        }
        &__bar{
            width: 100%;
            height: 10px;
            background-color: var.$background-color;
            overflow: hidden;
            border-radius: 5px;
            margin-top: 7px;
            &__fill{
                height: 100%;
                width: 0%;
                border-radius: 10px;
                background-color: var.$primary-color;
                transition: width 0.8s ease-out; 
            }
        }
    }
}