//Color
$primary-color: #928DAB;
$background-color: #1F1C2C;

//Size
$size-text: 16px;
$size-title: 75px;
$size-subtitle: 35px;

//Police
$text-font: 'Montserrat', sans-serif;
$title-font: 'MaPolice', sans-serif;