//Color
$primary-color: #928DAB;
$second-color: #363245;
$background-color: #1F1C2C;

//Size
$size-text: 16px;
$size-title: 25px;
$size-subtitle: 20px;

//Police
$text-font: 'Montserrat', sans-serif;
$title-font: 'MaPolice', sans-serif;