@use '../../styles/abstracts/var';
@use '../../styles//abstracts/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    height: 50px;
    background-color: var.$background-color;
    @media (max-width: 1000px){
        padding: 0 70px;
    }
    @media (max-width: 768px) {
      padding: 20px;
    }
    &__logo {
        width: 150px;
        height: auto;
    }
    &__nav {
        width: 50%;
        @media (max-width: 1000px){
            display: none;
            position: fixed;
            top: 50px;
            right: 0;
            background-color: var.$background-color;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            transform: translateX(300%);
            transition: transform 0.3s ease-in-out;
            z-index: 2;
            &.open {
                display: flex;
                transform: translateX(0);
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            height: 100%;
            @media (max-width: 1000px){
                flex-direction: column;
                gap: 40px;
            }
        }
        &__item{
            height: 100%;
            @media (max-width: 1000px) {
                height: auto;
                @include mixin.flex-center;
                margin-top: 50px;
            }
        }
        &__item__maj {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            &::after {
                content: "";
                position: absolute;
                bottom: -4px; 
                left: 0;
                width: 0;
                height: 2px; 
                background-color: var.$primary-color;
                transition: width 0.3s ease;  
            }
            &:hover::after,
            &.active::after {
                width: 100%;
            }
        }
    }
    &__menu{
        display: none;
        @media (max-width: 1000px){
            @include mixin.flex-center;
        }
        &__icon{
            font-size: 25px;
            color: var.$primary-color;
        }
    }
}