@use '../../styles/abstracts/var';
@use '../../styles//abstracts/mixin';
@use '../../styles/animations/keyframes';

.media{
    border: solid 1px var.$primary-color;
    padding: 18px;
    border-radius: 12px;
    transition: transform 0.25s ease, opacity 0.25s ease;
    animation: bounce-in-bottom 1.8s cubic-bezier(0.23, 1, 0.32, 1) both;
    &__link{
        &__icon{
            font-size: var.$size-title;
        }
    }
    &:hover{
        transform: scale(1.1);
        opacity: 0.5;
    }
}