@use '../../styles/abstracts/var';
@use '../../styles//abstracts/mixin';
@use '../../styles/animations/keyframes';

.footer{
    padding: 20px 80px;
    @include mixin.flex-center;
    gap: 24px;
    width: 100%;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;
        &__img{
            width: 150px;
            height: auto;
        }
        &__text{
            line-height: 1.7;
        }
        &__media{
            display: flex;
            gap: 24px;
            margin-top: 12px;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 25%;
        &__item{
            padding-bottom: 24px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__contact{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 25%;
        &__list{
            &__item{
                padding-bottom: 24px;
                
            }
            &--border{
                border: 1px solid var.$primary-color;
                border-radius: 20px;
                padding: 7px 20px;
                display: inline-flex;
                align-items: center;
                &__icon{
                    margin-right: 7px;
                    color: #05DF72;
                    font-size: 10px;
                }
            }
        }
    }
}