@use '../abstracts/var';

body {
  font-family: var.$text-font;
  font-size: var.$size-text;
  max-width: 1800px;
  margin: 0 auto;
  background-color: var.$background-color;
  color: white;
}

h1{
  font-size: var.$size-subtitle;
  font-family: var.$text-font;
  color: var.$primary-color;
  font-weight: normal;
}

h2{
  font-size: var.$size-subtitle;
  font-weight: normal;
}

h3{
  font-weight: normal;
}

p{
  font-size: var.$size-text;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}